.container {
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.search-img {
  padding-top: 36px;
  padding-bottom: 36px;
}


.search-img-form {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 32px;
}

.search-input{
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.64px;
  padding: 8px 16px;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  background-color: #FFF;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-input:hover{
  border-color: #000;
}

.search-input:focus{
  border-color: #4E75FF;
}

.search-input::placeholder{
  color: #808080;
  font-size: 16px;
  letter-spacing: 0.64px;
}

.search-btn{
  min-width: 91px;
  height: 40px;
  padding: 8px 16px;
}

.img-container-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 24px;
  margin-bottom: 32px;
}

.img-container-item {
  display: block;
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
}

.wrap-img-item{
  width: 360px;
  height: 152px;
  margin-bottom: 4px;
}

.img-item{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-discr-list{
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.img-discr-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-discr-item-header{
  font-size: 12px;
  font-weight: 600;
  line-height: 16px; 
  letter-spacing: 0.48px; 
}

.img-discr-item-text{
  font-size: 12px;
  letter-spacing: 0.48px;
}

/* ---- spiner ------- */

.loader {
  display: block;
  margin: 0 auto;
  animation: rotate 1s infinite;
  height: 150px;
  width: 150px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #4E75FF;
  box-shadow: 30px 0 0 #ff3d00;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #ff3d00;
  box-shadow: 30px 0 0 #4E75FF;
}

@keyframes rotate {
  0% { transform: rotate(0deg) scale(0.8) }
  50% { transform: rotate(360deg) scale(1.2) }
  100% { transform: rotate(720deg) scale(0.8) }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ff3d00;
  }
  50% {
    box-shadow: 0 0 0 #ff3d00;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #4E75FF;
  }
  50% {
    box-shadow: 0 0 0 #4E75FF;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #4E75FF;
    margin-top: 0;
  }
}

/* ------------- */

.load-more.is-hidden {
  display: none;
}

.load-more{
  min-width: 125px;
  height: 40px;
  padding: 8px 16px;
  margin: 0 auto;
}